/IndoorGML2/IndoorGML2_metanorma/Part I/relaton/
/IndoorGML2/IndoorGML2_metanorma/Part I/iev/
/IndoorGML2/IndoorGML2_metanorma/Part I/_files/
/IndoorGML2/IndoorGML2_metanorma/Part I/document.err
/IndoorGML2/IndoorGML2_metanorma/Part I/document.pdf.err
/IndoorGML2/IndoorGML2_metanorma/Part I/document.presentation.xml
/IndoorGML2/IndoorGML2_metanorma/Part I/document.xml.abort
/.idea/
/IndoorGML2/IndoorGML2_metanorma/Part I/document.err.html
/IndoorGML2/IndoorGML2_metanorma/Part I/document.html
/IndoorGML2/IndoorGML2_metanorma/Part I/document.pdf
