/IndoorGML2/IndoorGML2_metanorma/relaton/
/IndoorGML2/IndoorGML2_metanorma/iev/
/IndoorGML2/IndoorGML2_metanorma/_files/
/IndoorGML2/IndoorGML2_metanorma/document.err
/IndoorGML2/IndoorGML2_metanorma/document.pdf.err
/IndoorGML2/IndoorGML2_metanorma/document.presentation.xml
/IndoorGML2/IndoorGML2_metanorma/document.xml.abort
/.idea/
