/.idea/
/IndoorGML2/IndoorGML2_metanorma/Part I/relaton/
/IndoorGML2/IndoorGML2_metanorma/Part I/iev/
/IndoorGML2/IndoorGML2_metanorma/Part I/_files/
/IndoorGML2/IndoorGML2_metanorma/Part I/document.err
/IndoorGML2/IndoorGML2_metanorma/Part I/document.pdf.err
/IndoorGML2/IndoorGML2_metanorma/Part I/document.presentation.xml
/IndoorGML2/IndoorGML2_metanorma/Part I/document.xml.abort
/IndoorGML2/IndoorGML2_metanorma/Part I/document.err.html
/IndoorGML2/Archive/IndoorGML-22-045r5/22-045r5.html
/IndoorGML2/Archive/IndoorGML-22-045r5/22-045r5.pdf
/IndoorGML2/Archive/IndoorGML-22-045r5/22-045r5.html
/IndoorGML2/IndoorGML2_metanorma/Part I/document.asciidoc.log.txt
/IndoorGML2/IndoorGML2_metanorma/Part I/metanorma.asciidoc.log.txt
/IndoorGML2/IndoorGML2_metanorma/Part II/SQL/standard_implementation/relaton/
/IndoorGML2/IndoorGML2_metanorma/Part II/SQL/standard_implementation/iev/
/IndoorGML2/IndoorGML2_metanorma/Part II/SQL/standard_implementation/document.err.html
/IndoorGML2/IndoorGML2_metanorma/Part II/SQL/standard_implementation/document.pdf.err
/IndoorGML2/IndoorGML2_metanorma/Part II/SQL/standard_implementation/document.presentation.xml
/IndoorGML2/IndoorGML2_metanorma/Part II/SQL/standard_implementation/document.xml
/IndoorGML2/IndoorGML2_metanorma/Part II/SQL/standard_implementation/document.doc
/IndoorGML2/IndoorGML2_metanorma/Part II/SQL/standard_implementation/document.rxl
/IndoorGML2/IndoorGML2_metanorma/Part II/SQL/standard_implementation/document.asciidoc.log.txt
/IndoorGML2/IndoorGML2_metanorma/Part II/SQL/standard_implementation/metanorma.asciidoc.log.txt
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/standard_implementation/iev/
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/standard_implementation/relaton/
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/standard_implementation/document.xml.abort
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/standard_implementation/metanorma.asciidoc.log.txt
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/standard_implementation/document.pdf.err.lck
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/standard_implementation/document.pdf.err
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/standard_implementation/document.err.html
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/standard_implementation/document.asciidoc.log.txt
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/standard_implementation/document.presentation.xml
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/indoorjson2.core.schema.json
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/indoorjson2.navi.schema.json
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/indoorjson2_dummy.json
/IndoorGML2/IndoorGML2_metanorma/Part II/JSON/examples/indoorjson2_dummy.json
/IndoorGML2/IndoorGML2_metanorma/Part II/XML/standard_implementation/relaton/
/IndoorGML2/IndoorGML2_metanorma/Part II/XML/standard_implementation/iev/
/IndoorGML2/IndoorGML2_metanorma/Part II/XML/standard_implementation/document.err
/IndoorGML2/IndoorGML2_metanorma/Part II/XML/standard_implementation/document.err.html
/IndoorGML2/IndoorGML2_metanorma/Part II/XML/standard_implementation/document.pdf.err
/IndoorGML2/IndoorGML2_metanorma/Part II/XML/standard_implementation/document.presentation.xml
/IndoorGML2/IndoorGML2_metanorma/Part II/XML/standard_implementation/document.pdf.fo.debug.xml
/IndoorGML2/IndoorGML2_metanorma/Part II/XML/standard_implementation/document.xml
/IndoorGML2/IndoorGML2_metanorma/Part II/XML/standard_implementation/document.doc
/IndoorGML2/IndoorGML2_metanorma/Part II/XML/standard_implementation/document.rxl
/IndoorGML2/IndoorGML2_metanorma/Part II/XML/standard_implementation/document.asciidoc.log.txt
/IndoorGML2/IndoorGML2_metanorma/Part II/XML/standard_implementation/metanorma.asciidoc.log.txt
IndoorGML2/.DS_Store
IndoorGML2/IndoorGML2_metanorma/.DS_Store
IndoorGML2/IndoorGML2_metanorma/Part II/.DS_Store
IndoorGML2/IndoorGML2_metanorma/Part II/SQL/.DS_Store
.DS_Store